@charset "UTF-8";

    * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        img {
           width: 100vw;
        }
        a {
            background-color: darkred;
            display: block;
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            color: white;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }